<div class="row">
  <div class="row align-items-center justify-content-center">
    <h1 class="col-4">Counter Component</h1>
    <h1 class="col-4 display-4">Valor: {{counter()}}</h1>
  </div>
</div>
<div class="row justify-content-around">
  <button (click)="decreaseCounter(2)" type="button" class="btn btn-danger col-2">- 1</button>
  <button (click)="resetCounter()" type="button" class="btn btn-info col-2">Reset</button>
  <button (click)="increaseCounter(2)" type="button" class="btn btn-success col-2">+ 1</button>
</div>


