<div class="container">
  <div class="row align-items-center justify-content-around">
    <h1 class="col display-1">Counter Component</h1>
  </div>
  <div class="row align-items-center justify-content-center">
      <h2 class="col-3 display-3">Valor: </h2>
      <h2 class="col-3 display-3">{{counter()}}</h2>
  </div>

  <div class="row justify-content-evenly">
      <button (click)="decreaseCounter(2)" type="button" class="btn btn-danger col-2"><span>-1</span></button>
    <button (click)="resetCounter()" type="button" class="btn btn-info col-2"><span>Reset</span></button>
    <button (click)="increaseCounter(2)" type="button" class="btn btn-success col-2"><span>+1</span></button>
  </div>
</div>


