<h4 class="display-6 text-info">
  Add Character
</h4>
<form>
  <div class="form-floating mb-3">
    <input class="form-control"
           type="text"
           id="characterNameInput"
           placeholder="Name...">
    <label for="characterNameInput">
      Character Name
    </label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           type="number"
           id="characterPowerInput"
           placeholder="Power...">
    <label for="characterPowerInput">
            Character Power
    </label>
  </div>
  <button class="btn btn-primary mt-4 w-100"
          type="submit">
    Add
  </button>
</form>
