<h4 class="display-6 text-info">
  Add Character
</h4>
<form (ngSubmit)="addNewCharacter()">
  <div class="form-floating mb-3">
    <input class="form-control"
           type="text"
           id="characterNameInput"
           placeholder="Name..."
           name="characName"
           [(ngModel)] = "myCharacter.name">
    <label for="characterNameInput">
      Character Name
    </label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           type="number"
           id="characterPowerInput"
           placeholder="Power..."
           name="characPower"
           [(ngModel)] = "myCharacter.power">
    <label for="characterPowerInput">
            Character Power
    </label>
  </div>
  <button class="btn btn-primary mt-4 w-100"
          [disabled]="myCharacter.name!.length < 1"
          type="submit">
    Add
  </button>
</form>
